@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;900&family=Ysabeau+Office:wght@400;500;700&display=swap');

@layer base{
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}
@layer components{
    .before-element {
        position: relative;
        display: inline-block;
    }
      
    .before-element::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background: #090909;
        transition: width 0.3s;
    }
      
    .before-element:hover::before {
        width: 100%;
    }
    input::placeholder,
    textarea::placeholder {
        color: #090909;
        opacity: 0.5;
        font-family: 'Raleway', sans-serif;
    }
}


